body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}
.container h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 20px;
}

.academic-background {
    display: flex;
    flex-direction: column;
    align-items: center
}

.entry {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 60%;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.entry h2 {
    font-size: 1.8em;
    margin: 0 0 10px;
}

.entry p {
    font-size: 1.2em;
    color: #666;
    margin: 5px 0;
}

.entry.visible {
    opacity: 1;
    transform: translateY(0);
}
.back-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back-button:hover {
    background-color: #555;
}
